# [comd-flat-report]
CALI_SERVICES_ENABLE=aggregate:event:timestamp:report
CALI_AGGREGATE_KEY=event.end#CoMD.timer:CoMD.timer.id
CALI_AGGREGATE_ATTRIBUTES=time.inclusive.duration
CALI_EVENT_TRIGGER=CoMD.timer
CALI_REPORT_ATTRIBUTES=event.end#CoMD.timer:aggregate.count:aggregate.sum#time.inclusive.duration
CALI_REPORT_FILTER=event.end#CoMD.timer
CALI_REPORT_SORT_BY=CoMD.timer.id

# [comd-flat-mpi-report]
CALI_SERVICES_ENABLE=aggregate:event:mpi:timestamp:report
CALI_AGGREGATE_KEY=mpi.rank:event.end#CoMD.timer:CoMD.timer.id
CALI_AGGREGATE_ATTRIBUTES=time.inclusive.duration
CALI_EVENT_TRIGGER=CoMD.timer
CALI_MPI_BLACKLIST=MPI_Wtime:MPI_Comm_rank:MPI_Comm_size
CALI_REPORT_ATTRIBUTES=mpi.rank:event.end#CoMD.timer:aggregate.count:aggregate.sum#time.inclusive.duration
CALI_REPORT_FILENAME=comd-profile.%mpi.rank%.txt
CALI_REPORT_SORT_BY=CoMD.timer.id

# [comd-mpi-profile]
CALI_SERVICES_ENABLE=aggregate:event:mpi:timestamp:recorder
CALI_AGGREGATE_KEY=mpi.rank:CoMD.timer:mpi.function
CALI_AGGREGATE_ATTRIBUTES=time.duration
CALI_EVENT_TRIGGER=CoMD.timer:mpi.function
CALI_MPI_BLACKLIST=MPI_Wtime:MPI_Comm_rank:MPI_Comm_size
CALI_TIMER_SNAPSHOT_DURATION=true
CALI_TIMER_INCLUSIVE_DURATION=false
